#transform {
    width: 450px;
    height: 250px;
    background-color: rgb(53, 53, 53);
    margin-top: 70px;
    margin-left: 70px;
    transition: all 1s;
}

#transform:hover {
    border: 30px solid blue;
}

h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 85px;
}